body {
    background-color: #1D1D20;
}
.navbar-brand {
    color: white !important;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5rem;
    color: #D4D4D8 !important;
    font-weight: 600;
}
.nav-link:hover{
    color: white !important;
}
.active a{
    color: white !important;
}
@media (min-width:320px) {
    h1 {
        font-size: 56px;
    }
}

@media (min-width:961px) {
    .intro, .email-box, .second-div, .third-div, .fourth-div, footer {
        padding: 0 13rem 4rem
    }
    .third-div {
        padding-top: 4rem
    }
    .main-div {
        padding: 4rem 13rem 0;
    }
}

h1 {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 6.2rem;
    margin: 0 0 1rem;
}
h3 {
    color: #D4D4D8;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.8rem;
}
h4, h5 {
    color: #D4D4D8;
    font-family: 'Inter', sans-serif;
}

.blocks {
    background-color: #2E2E33;
    /* margin: 0 1rem; */
    text-align: center;
    padding: 0;
}
.blocks h1, .blocks h4 {
    font-size: 2.8rem;
    margin: 0;
}
.blocks h4 {
    font-size: 1rem;
}
.hello {
    padding: 2rem 0.25rem;
}

hr {
    background-color: #D4D4D8;
    opacity: 0.4;
    margin: 0;
}


.email-div {
    background-color: #2E2E33;
    padding: 2rem 0;
    margin: 5rem 0 0;
}
.email-div .row {
    padding: 0 5rem;
}
.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-logo {
    width: 3.5rem;
}
footer {
    padding-bottom: 2rem;
}
.fab {
    color: #3CB8B4;
    display: inline;
    margin-right: 1rem;
}
.fab:hover {
    color: #4cc7c3
}